body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 100vh;
}

.charSelect {
	border-bottom: 2px dashed black;
	padding-bottom: 50px;
}

.char {
	padding: 10px;
	text-align: center;
}

.char img:hover {
	border-bottom: 2px solid green;
	box-shadow-bottom: 0 0 10px green;
}

.char img {
	height: 200px;
}
