body , html {
	height: 100%;
}

body {
	background: url('../images/background.jpg') no-repeat fixed;
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

.charSelect {
	
	padding-bottom: 50px;
}

.char {
	padding: 10px;
	text-align: center;
}

.char:hover {
	transform: scale(1.25);
	cursor: pointer;
}

.char img {
	height: 150px;
}

.actions p {
	margin: 10px;
}

.pChar:hover, .oChar:hover {
	transform: scale(1);
	cursor: default;
}

.player h2, .opponent h2 {
	margin: 0 5vw;
}

.pChar , .oChar {
	margin: 5vw;
}

.pChar p , .oChar p {
	font-size: 30px;
}

.dead {
	filter: grayscale(100);
}